@require 'elevation'
@require 'jeet'
@require 'axis'
@require 'inputs'
@require 'scroll'

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  padding: 0 20px
  font: 16px sans-serif
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  color: white
  overflow: hidden
  font-family: 'Roboto', 'Lato', 'Source Sans Pro', sans-serif
  background-color: background-color

body > *
  overflow: visible

.left, .right
  col(1/2, cycle: 2)

.left
  height: 100vh
  position: relative

  *
    max-width: 100%

  .left-content
    align: vertically
    width: 100%

    > *
      position: absolute
      top: 0
  #left-buttons
    absolute: bottom left

    button
      display: inline-block

svg#launcher
  stroke: white
  stroke-width: 2
  fill: beaver-blue
  width: 100%
  max-width: 300px
  margin: 15px
  center: both

body.disconnected
  svg#launcher
    stroke: red

#camera
  corners()
  padding: 0
  overflow: hidden
  transition: visibility 0s camera-transition-duration, opacity camera-transition-duration ease
  elevation: 2
  position: relative
  visibility: visible

  img
    corners()
    margin-bottom: -3px

  #camera-refresh
    absolute: bottom right
    font-size: 20px

#tuning:not(.hidden) + #camera
  opacity: 0
  visibility: hidden
  transition: visibility 0s 0s, opacity camera-transition-duration ease

#status
  position: relative
  width: 100%
  height: status-height

  #timer
    font-family: monospace
    height: status-height
    line-height: status-height
    font-size: status-height

  .logo
    position: absolute
    right: 0
    top: 0
    height: status-height - 50
    margin: ((status-height - @height)/2) 0

#tuning
  bottom: 0
  display: flex
  width: 100%
  opacity: 1
  align-items: center

  *:not(:last-child)
    margin-right: 10px

  input
    width: 10px
    flex: 5
    flex-shrink: 1

  button
    flex: 0

  div
    margin: 20px 0

  p
    margin-bottom: 10px

.right
  height: 100vh
  position: relative

  .right-content
    width: 100%
    align: vertically

  *
    flex-grow: 1
    display: block

