::-webkit-scrollbar
  width: 15px
  background-color: rgba(0,0,0,0)
  -webkit-border-radius: 100px

::-webkit-scrollbar-thumb:vertical:hover
  background-color: rgba(0, 0, 0, 0.3)

::-webkit-scrollbar-corner, ::-webkit-resizer, ::-webkit-button
  display: none
 
::-webkit-scrollbar-thumb:vertical
  background: rgba(0,0,0,0.15)
  -webkit-border-radius: 100px
  background-clip: padding-box
  border: 3.5px solid rgba(0, 0, 0, 0)
  min-height: 10px

::-webkit-scrollbar-thumb:vertical:active
  background: rgba(0,0,0,0.3)
  border: 3.5px solid beaver-blue
  -webkit-border-radius: 100px


