
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font: 16px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  overflow: hidden;
  font-family: 'Roboto', 'Lato', 'Source Sans Pro', sans-serif;
  background-color: #293d6e;
}
button,
input[type="number"],
input[type="text"],
.select-container,
select {
  display: block;
  color: #fff;
  background: #314983;
  border: none;
  font-size: 14px;
  padding: 6px 8px;
  cursor: pointer;
  outline: 0;
  transition: all 0.4s ease;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  margin: 5px;
}
button:hover:not(:focus),
input[type="number"]:hover:not(:focus),
input[type="text"]:hover:not(:focus),
.select-container:hover:not(:focus),
select:hover:not(:focus) {
  background: #354e8d;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
button:active,
input[type="number"]:active,
input[type="text"]:active,
.select-container:active,
select:active {
  background: #627fc5;
}
button:focus,
input[type="number"]:focus,
input[type="text"]:focus,
.select-container:focus,
select:focus {
  z-index: 3;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
input:focus {
  background: #fff;
  color: #222;
}
.select-container {
  padding: 0;
  display: inline-block;
}
select {
  border: none;
  background: none;
  color: #fff;
  height: 25px;
}
input[type="text"],
input[type="number"] {
  cursor: text;
}
input[type="checkbox"] {
  -webkit-filter: saturate(0);
  filter: saturate(0);
}
input[type="range"] {
  padding: 20px;
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  outline: none;
  background: transparent;
}
input[type="range"]::before {
  content: attrs(value);
  width: 100px;
  height: 100px;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.1);
  border: none;
  border-radius: 0.5em;
  height: 0.5em;
  width: 100%;
}
input[type="range"]:active::-webkit-slider-thumb,
input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.5);
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: #0074d9;
  margin-top: calc(-2em / 2 + 0.5em / 2);
  transition: all 0.2s ease;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
input[type="range"]::-webkit-slider-thumb:active {
  background: #0063b8;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.1);
}
/* Major interface panes, aside, article, header, etc. */
body > * {
  overflow: scroll;
}
.left {
  height: 100vh;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
}
.left:before,
.left:after {
  content: '';
  display: table;
}
.left:after {
  clear: both;
}
.left:last-child {
  margin-right: 0%;
}
.left * {
  max-width: 100%;
}
.left .left-content {
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.left .left-content>* {
  position: absolute;
  top: 0;
}
.left #left-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
}
.left #left-buttons button {
  display: inline-block;
}
svg#launcher {
  stroke: #fff;
  stroke-width: 2;
  fill: #293d6e;
  height: 300px;
  margin: 15px;
  *zoom: 1;
  width: auto;
  max-width: both;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
svg#launcher:before,
svg#launcher:after {
  content: '';
  display: table;
}
svg#launcher:after {
  clear: both;
}
body.disconnected svg#launcher {
  stroke: #d13f19;
}
#camera {
  padding: 0;
  overflow: hidden;
  bottom: 0;
  background-color: #333;
  transition: opacity 0.15s ease;
  position: relative;
}
#camera img {
  height: auto;
}
#camera #camera-refresh {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
}
#tuning:not(.hidden) + #camera {
  opacity: 0;
}
#status {
  position: relative;
  width: 100%;
  height: 150px;
}
#status #timer {
  font-family: monospace;
  height: 150px;
  line-height: 150px;
  font-size: 150px;
}
#status .logo {
  position: absolute;
  right: 0;
  top: 0;
  height: 100px;
  margin: 25px 0;
}
#tuning {
  bottom: 0;
  display: flex;
  width: 100%;
  opacity: 1;
  align-items: center;
  transition: all 0.15s ease;
}
#tuning.hidden {
  opacity: 0;
}
#tuning *:not(:last-child) {
  margin-right: 10px;
}
#tuning input {
  width: 10px;
  flex: 5;
  flex-shrink: 1;
}
#tuning button {
  flex: 0;
}
#tuning div {
  margin: 20px 0;
}
#tuning p {
  margin-bottom: 10px;
}
.right {
  right: 0;
  height: 100vh;
  position: relative;
}
.right .right-content {
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right * {
  flex-grow: 1;
  margin-bottom: 20px;
  display: block;
}


/*# sourceMappingURL=app.css.map*/